@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .select {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
}
:root{
    font-size: larger;
}
@media print {
    :root{
        font-size: large;
    }
}

.hide-date-icon[type="date"]::-webkit-inner-spin-button,
.hide-date-icon[type="date"]::-webkit-calendar-picker-indicator {
    background-image: '../../public/assets/img/calendar.svg';
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;

    float: left;
}

.tail-select{
    @apply !rounded-lg w-full bg-gray-400
}
.tail-select>input{
    @apply !rounded-md bg-gray-400
}
